<h1 class="display-4"> Create Contact</h1>



  <div class="container">
    <div class="alert alert-warning" *ngIf="todoForm.dirty && todoForm.invalid">Enter valid values</div>
    
    <form (ngSubmit)="!todoForm.invalid && createNewContact()" #todoForm="ngForm">
      <fieldset class="form-group">
        <label>First Name</label>
        <input type="text" [(ngModel)]="fname" class="form-control" name="firstname"
               required="required">
      </fieldset>

      <fieldset class="form-group">
        <label>Last Name</label>
        <input type="text" [(ngModel)]="lname" class="form-control" name="lastname"
               required="required">
      </fieldset>

      <fieldset class="form-group">
        <label>E-Mail</label>
        <input type="text" class="form-control" [(ngModel)]="email" name="email" required="required">
      </fieldset>

      <fieldset class="form-group">
        <label>Phone Number</label>
        <input type="text" [(ngModel)]="phone" class="form-control" name="phone" required="required">
      </fieldset>

      <fieldset class="form-group">
        <label>Address</label>
        <input type="text" [(ngModel)]="address" class="form-control" name="address" required="required">
      </fieldset>

      <fieldset class="form-group">
        <label>City</label>
        <input type="text" [(ngModel)]="city" class="form-control" name="city" required="required">
      </fieldset>

      <fieldset class="form-group">
        <label>State</label>
        <input type="text" [(ngModel)]="state" class="form-control" name="state" required="required">
      </fieldset>

      <button type="submit" class="btn btn-success">Save Contact</button>
      <button (click)="goBack()" class="btn btn-primary">Go Back</button>
    </form>
  </div>
<br/>
<br/>
<br/>
<br/>
<br/>