<div class="container">
    <table class="table">
            <thead>
                <tr>
                    <th class="display-4">Resend password</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Email</td>
                    <td><input type="email" [(ngModel)] = "email" name="email" required /></td>
                </tr>
    
                <tr>
                    <td><button (click) = "resendPass()" class="btn btn-primary">Submit</button></td>
                </tr>
            </tbody>
        
        </table>
        </div>